html {
  background: url(data/pozadine/shapes.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
font-family:Fantasy;
font-size: 20px;
line-height: 30px;
padding: 10px;
margin: 10px;
}
h1 {
  color: grey;
}
h2 {
  color: grey;
}
p1 {
  color: white;
  border: 5px solid yellow;
  border-top: #ccc 2px solid;
  border-right: #ccc 3px solid;
  border-bottom: #777 2px solid;
  border-left: #777 3px solid;
}
p2 {
  color: white;
  border: 5px solid yellow;
  border-top: #ccc 2px solid;
  border-right: #ccc 3px solid;
  border-bottom: #777 2px solid;
  border-left: #777 3px solid;
  font-size: 35px;
}
.colortext
{
    color: red;
}
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
#galerija li
{
    width:260px;
    display:inline-block;
}
#galerija li p
{
    margin:20px 0 50px 0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
